
<div>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h1 class="text-center"><a href="/">MoviesDB</a></h1>
 <div class="d-flex justify-content-center align-items-center" style="margin-top:40px">
     
             <div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="signup/authsignup" role="form">
						<div class="form-group">
							<h2>Create Account</h2>
						</div>
						<div class="form-group">
							<strong>Email</strong>
							<input id="signinEmail" name="email" type="email"  class="form-control" required="true">
							{{#if message}}
							<p style="color: red">{{message}}</p>
							{{/if}}
						</div>
                        	<div class="form-group">
							<strong>Username</strong>
							<input id="username" name="username" type="text"  class="form-control text-lowercase" required="true">
							{{#if message1}}
							<p style="color: red">{{message1}}</p>
							{{/if}}
						</div>
						<div class="form-group">
							<strong>Password</strong>
							<input id="signinPassword" name="password" type="password"  class="form-control" required="true">
						   
						</div>
                        <div class="form-group">
							<strong>Confirm Password</strong>
							<input id="signinCPassword" name="Cpassword" type="password"  class="form-control" required="true">
						      {{#if message3}}
							<p style="color: red">{{message3}}</p>
							{{/if}}
						</div>
                        
						<div class="form-group" style="padding-top: 12px;">
							<button id="signinSubmit" type="submit" class="btn btn-success btn-block">Create Account</button>
						</div>
						<div class="form-group divider">
							<hr class="left"><p class="text-center font-weight-light">Already a User?</p><hr class="right">
						</div>
						<p class="form-group"><a href="/login" class="btn btn-info btn-block">Login</a></p>
						<p class="form-group">By signing in you are agreeing to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>